.buttons {
    /* position: fixed;
    top:550px;
    left:0px; */
    width: 100%;
    height: 5vh;
    text-align: center;

    display:flex;

      div {
        margin: 20px;

/*         margin: 0 auto; */
      }
      /* a{

        color:white;
        width: 80px;
        height:40px;
        border:whitesmoke solid 2px;
      } */


      .button  {
      background-color: #5a4b288a; /* not green lmao */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      }

}

