.desc{
  height:20vh;
  margin: 0 auto;
  *{
    margin: 0;
  }
  background: rgba(77, 60, 44, 0.842);

  p{
    padding: 60px;
    font-size: 14.7px;
    margin: 30px auto;
    text-align: center;
    color:rgba(255, 255, 255, 0.89);
  }

}
